{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Make reservation</h1>
      <form method="POST" action="/make_reservation" class="<!--needs-validation-->" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="form-group mt-5">
          <label for="first_name">First Name:</label>
          <input
            type="text"
            name="first_name"
            id="first_name"
            class="form-control"
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input
            type="text"
            name="last_name"
            id="last_name"
            class="form-control"
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" class="form-control" required autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input type="text" name="phone" id="phone" class="form-control" required autocomplete="off" />
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">Make reservation</button>
      </form>
    </div>
  </div>
</div>
{{ end }}
